@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app {
    perspective: 1000px;
    perspective-origin: top;
    /* color: #ff0000; */
  }

  input:focus {
    outline: none;
  }

  .keyBoardBtn {
    background-color: var(--btnColor);
    color: var(--whiteBtn);
  }

  .animate {
    background-color: "#D3D6DA";
    animation-name: yes;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform-style: preserve-3d;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: var(--delay);
  }

  @keyframes yes {
    0% {
      background-color: #ffffff;
    }

    50% {
      transform: rotateX(90deg);
      transform-origin: center;
      background-color: #fff;
      opacity: 0;
    }

    51% {
      transform: rotateX(270deg);
      background-color: var(--color);
    }

    100% {
      transform: rotateX(360deg);
      transform-origin: center;
      background-color: var(--color);
      color: #fff;
      border: 1px solid var(--color);
      opacity: 1;
    }
  }

  .moveLeftRight {
    animation-name: moveLeft;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }

  @keyframes moveLeft {
    0% {
      transform: translateX(0);
    }

    25% {
      transform: translateX(5px);
    }
    50% {
      transform: translateX(-5px);
    }
    75% {
      transform: translateX(5px);
    }
    85% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}
